SENDGRID_API_KEY=SG.**********zPglHzL_tert453
MAILGUN_API_KEY=45*********-8b34de1b-534yfdfgd
MAILGUN_DOMAIN=yoursite.com
EMAIL_FAILURE_RETRY=true
EMAIL_FAILURE_RETRY_TIMES=2
EMAIL_FAILURE_RETRY_DELAY=true
EMAIL_FAILURE_RETRY_DELAY_TIME=3000
